* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'New York Extra Large';
}

img {
  width: 100%;
}

.active {
  border-bottom: 2px solid black;
  padding-left: 0;
  padding-right: 0;
  margin: 0 16px;
}

.img-logo {
  width: 15rem;
}

section .container {
  max-width: 900px;
}

section .container .img-big {
  height: 35rem;
}

section .container .avatar-img {
  height: 12rem;
}

section .container small {
  max-width: 25rem;
}

section .container .avatar-img {
  width: 70px;
  height: auto;
}

.icon-app {
  width: 25px;
  height: 25px;
}